/* Design général */
body {
    background-color: #0f172a; /* Bleu nuit très sombre */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px; /* Format mobile */
    text-align: center;
}

h1 { margin: 0; font-size: 28px; }
.highlight { color: #22c55e; /* Vert Crypto */ }
p { color: #94a3b8; font-size: 14px; }

/* La Carte (Le bloc principal) */
.card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* Les champs du formulaire */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 12px;
    color: #cbd5e1;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    background: #334155;
    border: 1px solid #475569;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    box-sizing: border-box; /* Important pour ne pas casser la largeur */
}

input:focus {
    outline: none;
    border-color: #22c55e;
}

/* La zone de conversion */
.conversion-box {
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px dashed #475569;
}

.conversion-box h3 {
    color: #22c55e;
    margin: 5px 0 0 0;
}

/* Le Bouton */
.btn-main {
    width: 100%;
    background: #22c55e;
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-main:hover {
    background: #16a34a;
}

/* Zone de status */
.hidden { display: none; }
.status-card {
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #22c55e;
}

.step {
    font-size: 14px;
    color: #64748b;
    margin: 5px 0;
}
.step.active {
    color: #22c55e;
    font-weight: bold;
}